# From Categorical Features to Dummies

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [17]:
pd.set_option('display.max_columns', 500)

In [18]:
data = pd.read_csv('../datasets/bank/bank.csv',sep=';')
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,227,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,17,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [19]:
# Agrupamos Basic Education
data['education'] = np.where(data['education'] == 'basic.4y', 'Basic', data['education'])
data['education'] = np.where(data['education'] == 'basic.6y', 'Basic', data['education'])
data['education'] = np.where(data['education'] == 'basic.9y', 'Basic', data['education'])
# Renombramos
data['education'] = np.where(data['education'] == 'high.school', 'High School', data['education'])
data['education'] = np.where(data['education'] == 'professional.course', 'Professional Course', data['education'])
data['education'] = np.where(data['education'] == 'professional.course', 'Professional Course', data['education'])
data['education'] = np.where(data['education'] == 'university.degree', 'University Degree', data['education'])
data['education'] = np.where(data['education'] == 'illiterate', 'Illitirate', data['education'])
data['education'] = np.where(data['education'] == 'unknown', 'Unknown', data['education'])
data['education'].value_counts()

University Degree      1264
Basic                  1231
High School             921
Professional Course     535
Unknown                 167
Illitirate                1
Name: education, dtype: int64

In [20]:
# Pasamos de columna y con Yes No a 1 o 0
data.loc[data['y']=='yes','y'] = 1
data.loc[data['y']=='no','y'] = 0

In [21]:
categories = ['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']
for category in categories:
    cat_list = 'cat'+'_'+category
    cat_dummies = pd.get_dummies(data[category],prefix=cat_list)
    data = data.join(cat_dummies)

In [22]:
data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,cat_job_admin.,cat_job_blue-collar,cat_job_entrepreneur,cat_job_housemaid,cat_job_management,cat_job_retired,cat_job_self-employed,cat_job_services,cat_job_student,cat_job_technician,cat_job_unemployed,cat_job_unknown,cat_marital_divorced,cat_marital_married,cat_marital_single,cat_marital_unknown,cat_education_Basic,cat_education_High School,cat_education_Illitirate,cat_education_Professional Course,cat_education_University Degree,cat_education_Unknown,cat_default_no,cat_default_unknown,cat_default_yes,cat_housing_no,cat_housing_unknown,cat_housing_yes,cat_loan_no,cat_loan_unknown,cat_loan_yes,cat_contact_cellular,cat_contact_telephone,cat_month_apr,cat_month_aug,cat_month_dec,cat_month_jul,cat_month_jun,cat_month_mar,cat_month_may,cat_month_nov,cat_month_oct,cat_month_sep,cat_day_of_week_fri,cat_day_of_week_mon,cat_day_of_week_thu,cat_day_of_week_tue,cat_day_of_week_wed,cat_poutcome_failure,cat_poutcome_nonexistent,cat_poutcome_success
0,30,blue-collar,married,Basic,no,yes,no,cellular,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
1,39,services,single,High School,no,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
2,25,services,married,High School,no,yes,no,telephone,jun,wed,227,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
3,38,services,married,Basic,no,unknown,unknown,telephone,jun,fri,17,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0
4,47,admin.,married,University Degree,no,yes,no,cellular,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0

In [23]:
data.drop(columns=categories, inplace=True)
data.head()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y,cat_job_admin.,cat_job_blue-collar,cat_job_entrepreneur,cat_job_housemaid,cat_job_management,cat_job_retired,cat_job_self-employed,cat_job_services,cat_job_student,cat_job_technician,cat_job_unemployed,cat_job_unknown,cat_marital_divorced,cat_marital_married,cat_marital_single,cat_marital_unknown,cat_education_Basic,cat_education_High School,cat_education_Illitirate,cat_education_Professional Course,cat_education_University Degree,cat_education_Unknown,cat_default_no,cat_default_unknown,cat_default_yes,cat_housing_no,cat_housing_unknown,cat_housing_yes,cat_loan_no,cat_loan_unknown,cat_loan_yes,cat_contact_cellular,cat_contact_telephone,cat_month_apr,cat_month_aug,cat_month_dec,cat_month_jul,cat_month_jun,cat_month_mar,cat_month_may,cat_month_nov,cat_month_oct,cat_month_sep,cat_day_of_week_fri,cat_day_of_week_mon,cat_day_of_week_thu,cat_day_of_week_tue,cat_day_of_week_wed,cat_poutcome_failure,cat_poutcome_nonexistent,cat_poutcome_success
0,30,487,2,999,0,-1.8,92.893,-46.2,1.313,5099.1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
1,39,346,4,999,0,1.1,93.994,-36.4,4.855,5191.0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0
2,25,227,1,999,0,1.4,94.465,-41.8,4.962,5228.1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0
3,38,17,3,999,0,1.4,94.465,-41.8,4.959,5228.1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0
4,47,58,1,999,0,-0.1,93.200,-42.0,4.191,5195.8,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0

In [38]:
# Separamos X e y
datacols = data.columns.values.tolist()
subset_y = ['y']
subset_X = [v for v in datacols if v != 'y']

In [39]:
data[subset_X].shape

(4119, 61)

In [41]:
data[subset_y].shape

(4119, 1)

### Feature Selection

In [42]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR
from sklearn.linear_model import LogisticRegression

In [43]:
# Number of features that i have to keep
n = 12

In [46]:
logreg = LogisticRegression()
rfe = RFE(logreg, n)
rfe.fit(data[subset_X],data[subset_y].values.ravel())

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
  n_features_to_select=12, step=1, verbose=0)

In [54]:
rfe.support_

array([False, False, False, False,  True, False, False, False,  True,
       False, False, False,  True, False, False, False,  True, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
        True,  True,  True,  True,  True, False,  True, False, False,
       False, False, False, False,  True, False,  True])

In [48]:
rfe.ranking_

array([34, 43, 18, 45,  1, 14, 27, 25,  1, 39, 22,  3,  1, 36,  2, 40,  1,
        5, 30, 32, 12, 47, 19, 44, 31, 50, 26, 13, 48, 21, 41,  8, 35, 33,
       49, 20,  6, 10, 15,  9, 23, 16,  4, 38, 24,  1,  1,  1,  1,  1, 17,
        1, 46, 37, 28, 42, 29, 11,  1,  7,  1])

In [50]:
z = zip(subset_X,rfe.support_,rfe.ranking_)
list(z)

[('age', False, 34),
 ('duration', False, 43),
 ('campaign', False, 18),
 ('pdays', False, 45),
 ('previous', True, 1),
 ('emp.var.rate', False, 14),
 ('cons.price.idx', False, 27),
 ('cons.conf.idx', False, 25),
 ('euribor3m', True, 1),
 ('nr.employed', False, 39),
 ('cat_job_admin.', False, 22),
 ('cat_job_blue-collar', False, 3),
 ('cat_job_entrepreneur', True, 1),
 ('cat_job_housemaid', False, 36),
 ('cat_job_management', False, 2),
 ('cat_job_retired', False, 40),
 ('cat_job_self-employed', True, 1),
 ('cat_job_services', False, 5),
 ('cat_job_student', False, 30),
 ('cat_job_technician', False, 32),
 ('cat_job_unemployed', False, 12),
 ('cat_job_unknown', False, 47),
 ('cat_marital_divorced', False, 19),
 ('cat_marital_married', False, 44),
 ('cat_marital_single', False, 31),
 ('cat_marital_unknown', False, 50),
 ('cat_education_Basic', False, 26),
 ('cat_education_High School', False, 13),
 ('cat_education_Illitirate', False, 48),
 ('cat_education_Professional Course', False, 21),
 ('cat_education_University Degree', False, 41),
 ('cat_education_Unknown', False, 8),
 ('cat_default_no', False, 35),
 ('cat_default_unknown', False, 33),
 ('cat_default_yes', False, 49),
 ('cat_housing_no', False, 20),
 ('cat_housing_unknown', False, 6),
 ('cat_housing_yes', False, 10),
 ('cat_loan_no', False, 15),
 ('cat_loan_unknown', False, 9),
 ('cat_loan_yes', False, 23),
 ('cat_contact_cellular', False, 16),
 ('cat_contact_telephone', False, 4),
 ('cat_month_apr', False, 38),
 ('cat_month_aug', False, 24),
 ('cat_month_dec', True, 1),
 ('cat_month_jul', True, 1),
 ('cat_month_jun', True, 1),
 ('cat_month_mar', True, 1),
 ('cat_month_may', True, 1),
 ('cat_month_nov', False, 17),
 ('cat_month_oct', True, 1),
 ('cat_month_sep', False, 46),
 ('cat_day_of_week_fri', False, 37),
 ('cat_day_of_week_mon', False, 28),
 ('cat_day_of_week_thu', False, 42),
 ('cat_day_of_week_tue', False, 29),
 ('cat_day_of_week_wed', False, 11),
 ('cat_poutcome_failure', True, 1),
 ('cat_poutcome_nonexistent', False, 7),
 ('cat_poutcome_success', True, 1)]

In [60]:
final_subset_X = []
for i in range(len(subset_X)):
    if rfe.support_[i] == True:
        final_subset_X.append(subset_X[i])

In [61]:
final_subset_X

['previous',
 'euribor3m',
 'cat_job_entrepreneur',
 'cat_job_self-employed',
 'cat_month_dec',
 'cat_month_jul',
 'cat_month_jun',
 'cat_month_mar',
 'cat_month_may',
 'cat_month_oct',
 'cat_poutcome_failure',
 'cat_poutcome_success']